
.ricettasushi{
    width: 30vw;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(250, 233, 84, 0.863);
}

.fotosushi{
    width: 30vw;
}

.ricettacotoletta{
    width: 30vw;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(250, 233, 84, 0.863);
}

.fotocotoletta{
    width: 30vw;
}

.ricettarisotto{
    width: 30vw;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(250, 233, 84, 0.863);
}

.fotorisotto{
    width: 30vw;
}

p{
    font-family: 'Varela Round', sans-serif;
}

ul{
    font-family: 'Dongle', sans-serif;
    font-size: 25px;
}

h3,h2{
    font-family: 'Varela Round', sans-serif;
}

h1{
    font-family: 'Readex Pro', sans-serif;
}

.italic{
    font-style: italic;
}

.titolo{
    text-align: center;
}

li{
    list-style-type: katakana;
}

.ricette{
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width:700px){
    .ricettasushi{
        width: 90vw;
    }

    .fotosushi{
        width: 50vw;
    }
    

    .ricettacotoletta{
        width: 90vw;
    }

    .fotocotoletta{
        width: 50vw;
    }

    .ricettarisotto{
        width: 90vw;
    }

    .fotorisotto{
        width: 50vw;
    }

    .ricette{
        flex-direction: column;
        align-items: center;
    }
}

